@model Phong

<h2>Thêm Phòng</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Tên Phòng</label>
        <input asp-for="TenPhong" />
    </div>
    <div>
        <label>Loại Phòng</label>
        <input asp-for="LoaiPhong" />
    </div>
    <div>
        <label>Giá Phòng</label>
        <input asp-for="GiaPhong" />
    </div>
    <div>
        <label>Diện Tích</label>
        <input asp-for="DienTich" />
    </div>
    <div>
        <label>Trạng Thái</label>
        <input asp-for="TrangThai" />
    </div>
    <div>
        <label>Chọn Dịch Vụ:</label><br />
        @foreach (var dv in ViewBag.DichVus)
        {
            <input type="checkbox" name="selectedDichVus" value="@dv.MaDichVu" /> @dv.TenDichVu <br />
        }
    </div>
    <button type="submit">Lưu</button>
</form>
