@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_NguoiThueLayout.cshtml";
}

<h2>Chào mừng bạn đến trang quản lý người thuê!</h2>
<p>Chọn một mục bên trái để thao tác.</p>

