@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutNguoiThue.cshtml";
    ViewBag.Title = "Thông tin tài khoản";
}

<h2>Thông tin tài khoản</h2>

<form>
    <label>Số điện thoại</label>
    <input type="text" class="form-control" placeholder="Nhập số điện thoại" />

    <label>Email</label>
    <input type="email" class="form-control" value="phux0001@gmail.com" />

    <label>Trạng thái tài khoản</label>
    <p style="color: blue;">✔ Tài khoản đã xác thực</p>

    <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>

