@model DA.ViewModels.LoginViewModel

<h2>Đăng nhập</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<form asp-action="Login" method="post">
    <div>
        <label>Tên đăng nhập:</label>
        <input asp-for="TenDangNhap" class="form-control" />
    </div>

    <div>
        <label>Mật khẩu:</label>
        <input asp-for="MatKhau" type="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Đăng nhập</button>
</form>
